.anchor-pane {
    -fx-background-color: #ffffff;
}

.text-field {
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0);
    -fx-faint-focus-color: transparent;
}

/* Cambia el color del borde cuando el TextField está enfocado */
.text-field:focused {
    -fx-border-color: #d781af;
    -fx-effect: dropshadow(gaussian, rgba(226, 118, 176, 0.7), 10, 0.3, 0, 0);
}

.background {
    -fx-background-color: #EAEDED;
}

.button-list {
    -fx-background-color: #EAEDED;
    -fx-border-radius: 0px;
    -fx-cursor: hand;
}

.button-list:hover {
    -fx-background-color: #AEB6BF;
}

.button-create-object {
    -fx-background-color: #e276b0;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.button-create-object:hover {
    -fx-background-color: #d781af;
}

.button-create-object:focus {
    -fx-color: #85929E;
}

.button-search {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.general-table {
    -fx-background-color: transparent;
}

.text-field {
    -fx-height: 29px;
}

.sub-pane {
    -fx-border-color: #d3d3d3;
    -fx-border-width: 2px;
}

.btn-help {
    -fx-border-radius: 50;
    -fx-background-color: transparent;
    -fx-border-color: #d3d3d3;
}